{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="group">
        <header>
            <h1>Sectoral Sentiment Analyser</h1>
        </header>
        <nav>
            <a href="/homepage">Home</a>
        </nav>
    </div>

    <section>
        <form method = "GET">
            <div>
                <span>
                    <input type="radio" name="choice" value="district" onclick = 'func1()'><label>Auto</label>
                    <input type="radio" name="choice" value="pincode" onclick = 'func2()'><label>Energy</label>
                    <input type="radio" name="choice" value="pincode" onclick = 'func3()'><label>Transportation</label>
                    <input type="radio" name="choice" value="pincode" onclick = 'func4()'><label>HealthCare</label>
                </span>
            </div>

            <div>
                <span >
                    {% if sector %}
                    <h4>{{sector}}</h4>
                    {% endif %}
                <ol>
                    {% if all %}
                        {% for key, value in all.items %}
                            <li>{{key}} : <b>{{value}}</b></li>
                        {% endfor %}
                    {% else %}
                        {% for key in news_list %}
                            <li>{{key}}</li>
                        {% endfor %}
                    {% endif %}
                </ol>
            </div>

            <div>
                <span id = 'auto' style = 'visibility: hidden'>
                    <input type="submit" name="1auto" value="Show top news">
                </span>
            </div>
        </form>

        <form method = "GET">
            <div>
                <span id = 'energy' style = 'visibility: hidden'>
                    <input type="submit" name="2energy" value="Show top news">
                </span>
            </div>
        </form>

        <form method = "GET">
            <div>
                <span id = 'transport' style = 'visibility: hidden'>
                    <input type="submit" name="3transport" value="Show top news">
                </span>
            </div>
        </form>

        <form method = "GET">
            <div>
                <span id = 'health' style = 'visibility: hidden'>
                    <input type="submit" name="4health" value="Show top news">
                </span>
            </div>
        </form>
        
        <div>
            <form method="GET">
                <span id = 'final'>
                    <input type="submit" name="show" value="Show Impact">
                </span>
            </form>
        </div>
    </section>

    <script>
        function func1(){
            document.getElementById('auto').style.visibility = 'visible';
            document.getElementById('energy').style.visibility = 'hidden';
            document.getElementById('transport').style.visibility = 'hidden';
            document.getElementById('health').style.visibility = 'hidden';
        }
        function func2(){
            document.getElementById('auto').style.visibility = 'hidden';
            document.getElementById('energy').style.visibility = 'visible';
            document.getElementById('transport').style.visibility = 'hidden';
            document.getElementById('health').style.visibility = 'hidden';
        }
        function func3(){
            document.getElementById('auto').style.visibility = 'hidden';
            document.getElementById('energy').style.visibility = 'hidden';
            document.getElementById('transport').style.visibility = 'visible';
            document.getElementById('health').style.visibility = 'hidden';
        }
        function func4(){
            document.getElementById('auto').style.visibility = 'hidden';
            document.getElementById('energy').style.visibility = 'hidden';
            document.getElementById('transport').style.visibility = 'hidden';
            document.getElementById('health').style.visibility = 'visible';
        }
    </script>
</body>
</html>
